<!DOCTYPE html>
<html>
<head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css" />

</head>
<body>

<script type="text/javascript">
$(document).ready(function(){

var frm = document.getElementById("speachForm");

      ajaxform = function(e) { frm.submit(function (e) {

        e.preventDefault();

        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            async: true,
            success: function (data) {
                alert(data);
            },
            error: function (data) {
                alert(data);
            },
        });

    });

  };

})


if (annyang) {
  annyang.start();

  annyang.addCallback('result', function(userSaid) {
    var frm = document.getElementById("speachForm");
    frm.text.value = userSaid;
    frm.submit();
    //ajaxform(userSaid);
  });

  // Tell KITT to use annyang
  SpeechKITT.annyang();

  // Define a stylesheet for KITT to use
  SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');

  // Render KITT's interface
  SpeechKITT.vroom();
}
</script>
<div class="container">
  <div class="row">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="col-xs-12">
        {% for message in messages %}
          <h3>{{ message }}</h3>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
  </div>
</div>
<form id="speachForm" action="" method="POST" style="display: none">
    {{ form.hidden_tag() }}
    {{ form.text(size=80) }}
</form>
<audio {% if play %} src="{{ url_for('static', filename='resources/{}.wav'.format(filename)) }}" type="audio/wav" autoplay {% endif %} style="display: none" controls></audio>
</body>
</html>
