<!DOCTYPE html>
<html>
<head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
</head>
<body>

        <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
  
    var frm = $('#speachForm');

    formSumbit = frm.submit(function (e) {
        e.preventDefault();
        //frm.text.val('phrases');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                //console.log('Submission was successful.');
                alert('phrases');
            },
            error: function (data) {
                //console.log('An error occurred.');
                alert('phrases');
            },
        });
    });

</script>

<script type="text/javascript">
if (annyang) {
  // Add our commands to annyang
  //annyang.addCommands({
  //  'hello': function() { alert('Hello world!'); }
  //});

  annyang.start();
  
  annyang.addCallback('result', function(userSaid) {
    frm.text.value = userSaid;
    //alert(frm.text.value);
    frm.submit();
  });

  //annyang.addCallback('resultMatch', function(userSaid, commandText, phrases) {
  //  frm.text.value = phrases;
  //  alert(frm.text.value);
  //  frm.submit(phrases);
  //  //formSumbit(phrases);
  //});

  // Tell KITT to use annyang
  SpeechKITT.annyang();

  // Define a stylesheet for KITT to use
  SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');

  // Render KITT's interface
  SpeechKITT.vroom();
}
</script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form id="speachForm" action="" method="post" style="display: none">
    {{ form.hidden_tag() }}
    {{ form.text(size=80) }}
    <buttin type="submit"></buttin>
</form>
{{ asd }}
<p id="userSaid"></p>
<p id="commandText"></p>
<p id="phrases"></p>
</body>
</html>
